nodered/alarm_flow.json
[
    {
        "id": "agrisense-alarm-flow",
        "type": "tab",
        "label": "AgriSense Alarms",
        "disabled": false,
        "info": "Threshold monitoring for AgriSense sensors"
    },
    {
        "id": "mqtt-in-sensors",
        "type": "mqtt in",
        "z": "agrisense-alarm-flow",
        "name": "Sensor Data",
        "topic": "agrisense/sensors/data",
        "qos": "1",
        "datatype": "json",
        "broker": "local-mqtt",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 100,
        "wires": [["threshold-check"]]
    },
    {
        "id": "threshold-check",
        "type": "function",
        "z": "agrisense-alarm-flow",
        "name": "Check Thresholds",
        "func": "// Configurable thresholds\nconst thresholds = {\n    temperature: { min: 15, max: 35 },\n    humidity: { min: 30, max: 85 },\n    light: { min: 10, max: 90 },\n    soil: { min: 20, max: 80 },\n    air_quality: { min: 0, max: 70 }\n};\n\nconst data = msg.payload;\nconst violations = [];\n\n// Check each parameter\nif (data.temperature !== undefined) {\n    if (data.temperature < thresholds.temperature.min) {\n        violations.push(`temperature too low: ${data.temperature}°C < ${thresholds.temperature.min}°C`);\n    }\n    if (data.temperature > thresholds.temperature.max) {\n        violations.push(`temperature too high: ${data.temperature}°C > ${thresholds.temperature.max}°C`);\n    }\n}\n\nif (data.humidity !== undefined) {\n    if (data.humidity < thresholds.humidity.min) {\n        violations.push(`humidity too low: ${data.humidity}% < ${thresholds.humidity.min}%`);\n    }\n    if (data.humidity > thresholds.humidity.max) {\n        violations.push(`humidity too high: ${data.humidity}% > ${thresholds.humidity.max}%`);\n    }\n}\n\nif (data.light !== undefined) {\n    if (data.light < thresholds.light.min) {\n        violations.push(`light too low: ${data.light}% < ${thresholds.light.min}%`);\n    }\n    if (data.light > thresholds.light.max) {\n        violations.push(`light too high: ${data.light}% > ${thresholds.light.max}%`);\n    }\n}\n\nif (data.soil !== undefined) {\n    if (data.soil < thresholds.soil.min) {\n        violations.push(`soil moisture too low: ${data.soil}% < ${thresholds.soil.min}%`);\n    }\n    if (data.soil > thresholds.soil.max) {\n        violations.push(`soil moisture too high: ${data.soil}% > ${thresholds.soil.max}%`);\n    }\n}\n\nif (data.air_quality !== undefined) {\n    if (data.air_quality > thresholds.air_quality.max) {\n        violations.push(`air quality poor: ${data.air_quality} > ${thresholds.air_quality.max}`);\n    }\n}\n\n// Generate alarm if violations found\nif (violations.length > 0) {\n    msg.payload = {\n        node_id: data.node_id || 'unknown',\n        location: data.location || 'unknown',\n        violations: violations,\n        original_data: data,\n        timestamp: new Date().toISOString()\n    };\n    return [msg, null];\n} else {\n    // Pass through for debug\n    return [null, msg];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 100,
        "wires": [["mqtt-out-alarms", "debug-alarm"], ["debug-ok"]]
    },
    {
        "id": "mqtt-out-alarms",
        "type": "mqtt out",
        "z": "agrisense-alarm-flow",
        "name": "Publish Alarm",
        "topic": "agrisense/alarms",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "local-mqtt",
        "x": 530,
        "y": 80,
        "wires": []
    },
    {
        "id": "debug-alarm",
        "type": "debug",
        "z": "agrisense-alarm-flow",
        "name": "⚠️ ALARM",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.violations",
        "statusType": "msg",
        "x": 520,
        "y": 120,
        "wires": []
    },
    {
        "id": "debug-ok",
        "type": "debug",
        "z": "agrisense-alarm-flow",
        "name": "✓ OK",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 510,
        "y": 160,
        "wires": []
    },
    {
        "id": "local-mqtt",
        "type": "mqtt-broker",
        "name": "Local MQTT",
        "broker": "localhost",
        "port": "1883",
        "clientid": "nodered-agrisense",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]
