nodered/dashboard_flow.json
[
    {
        "id": "dashboard-tab",
        "type": "tab",
        "label": "AgriSense Dashboard",
        "disabled": false,
        "info": "Real-time sensor monitoring and alarm visualization"
    },
    {
        "id": "ui_tab_main",
        "type": "ui_tab",
        "name": "Sensor Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui_group_current",
        "type": "ui_group",
        "name": "Current Readings",
        "tab": "ui_tab_main",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_group_charts",
        "type": "ui_group",
        "name": "Historical Trends",
        "tab": "ui_tab_main",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_group_alarms",
        "type": "ui_group",
        "name": "Active Alarms",
        "tab": "ui_tab_main",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "mqtt-in",
        "type": "mqtt in",
        "z": "dashboard-tab",
        "name": "Sensor Data",
        "topic": "agrisense/sensors/data",
        "qos": "1",
        "datatype": "json",
        "broker": "local-mqtt",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 100,
        "wires": [["parse-data", "threshold-check"]]
    },
    {
        "id": "parse-data",
        "type": "function",
        "z": "dashboard-tab",
        "name": "Parse Sensor Data",
        "func": "const data = msg.payload;\n\nreturn [\n    { payload: data.temperature, topic: data.node_id },\n    { payload: data.humidity, topic: data.node_id },\n    { payload: data.soil, topic: data.node_id },\n    { payload: data.light, topic: data.node_id },\n    { payload: data.air_quality, topic: data.node_id },\n    { payload: data }  // Full data for display\n];",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 100,
        "wires": [
            ["gauge-temp", "chart-temp"],
            ["gauge-humidity", "chart-humidity"],
            ["gauge-soil", "chart-soil"],
            ["gauge-light", "chart-light"],
            ["gauge-air", "chart-air"],
            ["text-info"]
        ]
    },
    {
        "id": "gauge-temp",
        "type": "ui_gauge",
        "z": "dashboard-tab",
        "name": "Temperature",
        "group": "ui_group_current",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "15",
        "seg2": "35",
        "x": 550,
        "y": 60,
        "wires": []
    },
    {
        "id": "gauge-humidity",
        "type": "ui_gauge",
        "z": "dashboard-tab",
        "name": "Humidity",
        "group": "ui_group_current",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": ["#ca3838", "#00b500", "#ca3838"],
        "seg1": "30",
        "seg2": "85",
        "x": 550,
        "y": 100,
        "wires": []
    },
    {
        "id": "gauge-soil",
        "type": "ui_gauge",
        "z": "dashboard-tab",
        "name": "Soil Moisture",
        "group": "ui_group_current",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Soil Moisture",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": ["#ca3838", "#00b500", "#0080ff"],
        "seg1": "20",
        "seg2": "80",
        "x": 560,
        "y": 140,
        "wires": []
    },
    {
        "id": "gauge-light",
        "type": "ui_gauge",
        "z": "dashboard-tab",
        "name": "Light Level",
        "group": "ui_group_current",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Light Level",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": ["#555555", "#e6e600", "#ff9900"],
        "seg1": "10",
        "seg2": "90",
        "x": 550,
        "y": 180,
        "wires": []
    },
    {
        "id": "gauge-air",
        "type": "ui_gauge",
        "z": "dashboard-tab",
        "name": "Air Quality",
        "group": "ui_group_current",
        "order": 5,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Air Quality",
        "label": "index",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "40",
        "seg2": "70",
        "x": 550,
        "y": 220,
        "wires": []
    },
    {
        "id": "text-info",
        "type": "ui_text",
        "z": "dashboard-tab",
        "group": "ui_group_current",
        "order": 6,
        "width": "6",
        "height": "3",
        "name": "Sensor Info",
        "label": "Device Info",
        "format": "<b>Node:</b> {{msg.payload.node_id}}<br><b>Location:</b> {{msg.payload.location}}<br><b>Last Update:</b> {{msg.payload.received_at}}",
        "layout": "row-spread",
        "x": 550,
        "y": 260,
        "wires": []
    },
    {
        "id": "chart-temp",
        "type": "ui_chart",
        "z": "dashboard-tab",
        "name": "Temperature History",
        "group": "ui_group_charts",
        "order": 1,
        "width": "6",
        "height": "4",
        "label": "Temperature (°C)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No data",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c"],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 570,
        "y": 320,
        "wires": [[]]
    },
    {
        "id": "chart-humidity",
        "type": "ui_chart",
        "z": "dashboard-tab",
        "name": "Humidity History",
        "group": "ui_group_charts",
        "order": 2,
        "width": "6",
        "height": "4",
        "label": "Humidity (%)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c"],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 570,
        "y": 360,
        "wires": [[]]
    },
    {
        "id": "chart-soil",
        "type": "ui_chart",
        "z": "dashboard-tab",
        "name": "Soil Moisture History",
        "group": "ui_group_charts",
        "order": 3,
        "width": "6",
        "height": "4",
        "label": "Soil Moisture (%)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c"],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 580,
        "y": 400,
        "wires": [[]]
    },
    {
        "id": "chart-light",
        "type": "ui_chart",
        "z": "dashboard-tab",
        "name": "Light Level History",
        "group": "ui_group_charts",
        "order": 4,
        "width": "6",
        "height": "4",
        "label": "Light Level (%)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c"],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 570,
        "y": 440,
        "wires": [[]]
    },
    {
        "id": "chart-air",
        "type": "ui_chart",
        "z": "dashboard-tab",
        "name": "Air Quality History",
        "group": "ui_group_charts",
        "order": 5,
        "width": "6",
        "height": "4",
        "label": "Air Quality Index",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c"],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 570,
        "y": 480,
        "wires": [[]]
    },
    {
        "id": "threshold-check",
        "type": "function",
        "z": "dashboard-tab",
        "name": "Check Thresholds",
        "func": "// Configurable thresholds\nconst thresholds = {\n    temperature: { min: 15, max: 35 },\n    humidity: { min: 30, max: 85 },\n    light: { min: 10, max: 90 },\n    soil: { min: 20, max: 80 },\n    air_quality: { min: 0, max: 70 }\n};\n\nconst data = msg.payload;\nconst violations = [];\n\n// Check each parameter\nif (data.temperature !== undefined) {\n    if (data.temperature < thresholds.temperature.min) {\n        violations.push(`🌡️ Temperature too low: ${data.temperature}°C < ${thresholds.temperature.min}°C`);\n    }\n    if (data.temperature > thresholds.temperature.max) {\n        violations.push(`🌡️ Temperature too high: ${data.temperature}°C > ${thresholds.temperature.max}°C`);\n    }\n}\n\nif (data.humidity !== undefined) {\n    if (data.humidity < thresholds.humidity.min) {\n        violations.push(`💧 Humidity too low: ${data.humidity}% < ${thresholds.humidity.min}%`);\n    }\n    if (data.humidity > thresholds.humidity.max) {\n        violations.push(`💧 Humidity too high: ${data.humidity}% > ${thresholds.humidity.max}%`);\n    }\n}\n\nif (data.light !== undefined) {\n    if (data.light < thresholds.light.min) {\n        violations.push(`💡 Light too low: ${data.light}% < ${thresholds.light.min}%`);\n    }\n    if (data.light > thresholds.light.max) {\n        violations.push(`💡 Light too high: ${data.light}% > ${thresholds.light.max}%`);\n    }\n}\n\nif (data.soil !== undefined) {\n    if (data.soil < thresholds.soil.min) {\n        violations.push(`🌱 Soil moisture too low: ${data.soil}% < ${thresholds.soil.min}%`);\n    }\n    if (data.soil > thresholds.soil.max) {\n        violations.push(`🌱 Soil moisture too high: ${data.soil}% > ${thresholds.soil.max}%`);\n    }\n}\n\nif (data.air_quality !== undefined) {\n    if (data.air_quality > thresholds.air_quality.max) {\n        violations.push(`🌫️ Air quality poor: ${data.air_quality} > ${thresholds.air_quality.max}`);\n    }\n}\n\n// Generate alarm if violations found\nif (violations.length > 0) {\n    msg.payload = {\n        node_id: data.node_id || 'unknown',\n        location: data.location || 'unknown',\n        violations: violations,\n        original_data: data,\n        timestamp: new Date().toISOString(),\n        severity: violations.length > 2 ? 'critical' : 'warning'\n    };\n    return [msg, null];\n} else {\n    return [null, { payload: 'All parameters within normal range' }];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 580,
        "wires": [["mqtt-out-alarms", "alarm-notification", "alarm-table"], ["status-ok"]]
    },
    {
        "id": "mqtt-out-alarms",
        "type": "mqtt out",
        "z": "dashboard-tab",
        "name": "Publish Alarm",
        "topic": "agrisense/alarms",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "local-mqtt",
        "x": 550,
        "y": 540,
        "wires": []
    },
    {
        "id": "alarm-notification",
        "type": "ui_toast",
        "z": "dashboard-tab",
        "position": "top right",
        "displayTime": "5",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "Alarm Notification",
        "x": 570,
        "y": 580,
        "wires": []
    },
    {
        "id": "alarm-table",
        "type": "ui_template",
        "z": "dashboard-tab",
        "group": "ui_group_alarms",
        "name": "Alarm Display",
        "order": 1,
        "width": "12",
        "height": "4",
        "format": "<div style=\"padding: 10px; background: #fff3cd; border-left: 4px solid #ff9800; margin-bottom: 10px;\">\n    <h3 style=\"margin: 0 0 10px 0; color: #ff6600;\">⚠️ ALARM: {{msg.payload.node_id}} ({{msg.payload.location}})</h3>\n    <p style=\"margin: 5px 0; font-size: 12px; color: #666;\">{{msg.payload.timestamp}}</p>\n    <ul style=\"margin: 10px 0; padding-left: 20px;\">\n        <li ng-repeat=\"violation in msg.payload.violations\" style=\"margin: 5px 0; color: #d32f2f;\">\n            {{violation}}\n        </li>\n    </ul>\n    <div style=\"margin-top: 10px; padding: 8px; background: #f5f5f5; border-radius: 4px; font-size: 11px;\">\n        <strong>Current Values:</strong>\n        Temp: {{msg.payload.original_data.temperature}}°C | \n        Humidity: {{msg.payload.original_data.humidity}}% | \n        Soil: {{msg.payload.original_data.soil}}% | \n        Light: {{msg.payload.original_data.light}}% | \n        Air: {{msg.payload.original_data.air_quality}}\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 560,
        "y": 620,
        "wires": [[]]
    },
    {
        "id": "status-ok",
        "type": "ui_text",
        "z": "dashboard-tab",
        "group": "ui_group_alarms",
        "order": 2,
        "width": "12",
        "height": "1",
        "name": "Status OK",
        "label": "System Status",
        "format": "<div style=\"color: green; font-weight: bold;\">✓ All sensors within normal range</div>",
        "layout": "row-spread",
        "x": 540,
        "y": 660,
        "wires": []
    },
    {
        "id": "local-mqtt",
        "type": "mqtt-broker",
        "name": "Local MQTT",
        "broker": "localhost",
        "port": "1883",
        "clientid": "nodered-agrisense-dashboard",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]
