nodered/flowfuse_dashboard_flow.json
[
    {
        "id": "flowfuse-tab",
        "type": "tab",
        "label": "AgriSense Dashboard",
        "disabled": false,
        "info": "Dashboard using FlowFuse Dashboard 2.0"
    },
    {
        "id": "mqtt-broker",
        "type": "mqtt-broker",
        "name": "Local MQTT",
        "broker": "localhost",
        "port": "1883",
        "clientid": "nodered-agrisense",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true
    },
    {
        "id": "ui-base",
        "type": "ui-base",
        "name": "AgriSense Dashboard",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ]
    },
    {
        "id": "ui-page-main",
        "type": "ui-page",
        "name": "Sensors",
        "ui": "ui-base",
        "path": "/sensors",
        "icon": "home",
        "layout": "grid",
        "theme": "theme-light",
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "ui-group-gauges",
        "type": "ui-group",
        "name": "Current Readings",
        "page": "ui-page-main",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "ui-group-info",
        "type": "ui-group",
        "name": "Device Information",
        "page": "ui-page-main",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "ui-group-charts",
        "type": "ui-group",
        "name": "Historical Trends",
        "page": "ui-page-main",
        "width": "6",
        "height": "1",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "ui-group-alarms",
        "type": "ui-group",
        "name": "Alarms",
        "page": "ui-page-main",
        "width": "6",
        "height": "1",
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "mqtt-in",
        "type": "mqtt in",
        "z": "flowfuse-tab",
        "name": "Sensor Data",
        "topic": "agrisense/sensors/data",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt-broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 100,
        "wires": [["parse-data", "threshold-check"]]
    },
    {
        "id": "parse-data",
        "type": "function",
        "z": "flowfuse-tab",
        "name": "Parse Sensor Data",
        "func": "const data = msg.payload;\n\nreturn [\n    { payload: data.temperature || 0, topic: data.node_id || 'sensor' },\n    { payload: data.humidity || 0, topic: data.node_id || 'sensor' },\n    { payload: data.soil || 0, topic: data.node_id || 'sensor' },\n    { payload: data.light || 0, topic: data.node_id || 'sensor' },\n    { payload: data.air_quality || 0, topic: data.node_id || 'sensor' },\n    { payload: data }\n];",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 100,
        "wires": [
            ["gauge-temp", "chart-temp"],
            ["gauge-humidity", "chart-humidity"],
            ["gauge-soil", "chart-soil"],
            ["gauge-light", "chart-light"],
            ["gauge-air", "chart-air"],
            ["format-info"]
        ]
    },
    {
        "id": "gauge-temp",
        "type": "ui-gauge",
        "z": "flowfuse-tab",
        "name": "Temperature",
        "group": "ui-group-gauges",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Temperature",
        "units": "°C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "15",
                "color": "#5cd65c"
            },
            {
                "from": "35",
                "color": "#ff9900"
            },
            {
                "from": "45",
                "color": "#ff5050"
            }
        ],
        "min": 0,
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 530,
        "y": 60,
        "wires": []
    },
    {
        "id": "gauge-humidity",
        "type": "ui-gauge",
        "z": "flowfuse-tab",
        "name": "Humidity",
        "group": "ui-group-gauges",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Humidity",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ff5050"
            },
            {
                "from": "30",
                "color": "#5cd65c"
            },
            {
                "from": "85",
                "color": "#ff5050"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 530,
        "y": 100,
        "wires": []
    },
    {
        "id": "gauge-soil",
        "type": "ui-gauge",
        "z": "flowfuse-tab",
        "name": "Soil Moisture",
        "group": "ui-group-gauges",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Soil Moisture",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ff5050"
            },
            {
                "from": "20",
                "color": "#5cd65c"
            },
            {
                "from": "80",
                "color": "#3399ff"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 540,
        "y": 140,
        "wires": []
    },
    {
        "id": "gauge-light",
        "type": "ui-gauge",
        "z": "flowfuse-tab",
        "name": "Light Level",
        "group": "ui-group-gauges",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Light Level",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#666666"
            },
            {
                "from": "10",
                "color": "#ffcc00"
            },
            {
                "from": "90",
                "color": "#ff9900"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 530,
        "y": 180,
        "wires": []
    },
    {
        "id": "gauge-air",
        "type": "ui-gauge",
        "z": "flowfuse-tab",
        "name": "Air Quality",
        "group": "ui-group-gauges",
        "order": 5,
        "width": "3",
        "height": "3",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Air Quality (CO2)",
        "units": "index",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "40",
                "color": "#ff9900"
            },
            {
                "from": "70",
                "color": "#ff5050"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 530,
        "y": 220,
        "wires": []
    },
    {
        "id": "info-display",
        "type": "ui-text",
        "z": "flowfuse-tab",
        "group": "ui-group-info",
        "order": 1,
        "width": "6",
        "height": "3",
        "name": "Device Info",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 530,
        "y": 260,
        "wires": []
    },
    {
        "id": "format-info",
        "type": "function",
        "z": "flowfuse-tab",
        "name": "Format Info",
        "func": "const data = msg.payload;\nmsg.payload = `<strong>Node:</strong> ${data.node_id || '--'}<br>\n<strong>Location:</strong> ${data.location || '--'}<br>\n<strong>CO2 Level:</strong> ${data.air_ppm || '--'} PPM<br>\n<strong>Last Update:</strong> ${data.received_at || '--'}`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 300,
        "wires": [["info-display"]]
    },
    {
        "id": "chart-temp",
        "type": "ui-chart",
        "z": "flowfuse-tab",
        "name": "Temperature History",
        "group": "ui-group-charts",
        "order": 1,
        "width": "6",
        "height": "4",
        "label": "Temperature (°C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a"
        ],
        "width": "6",
        "height": "4",
        "className": "",
        "x": 560,
        "y": 360,
        "wires": [[]]
    },
    {
        "id": "chart-humidity",
        "type": "ui-chart",
        "z": "flowfuse-tab",
        "name": "Humidity History",
        "group": "ui-group-charts",
        "order": 2,
        "width": "6",
        "height": "4",
        "label": "Humidity (%)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a"
        ],
        "className": "",
        "x": 560,
        "y": 400,
        "wires": [[]]
    },
    {
        "id": "chart-soil",
        "type": "ui-chart",
        "z": "flowfuse-tab",
        "name": "Soil Moisture History",
        "group": "ui-group-charts",
        "order": 3,
        "width": "6",
        "height": "4",
        "label": "Soil Moisture (%)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a"
        ],
        "className": "",
        "x": 570,
        "y": 440,
        "wires": [[]]
    },
    {
        "id": "chart-light",
        "type": "ui-chart",
        "z": "flowfuse-tab",
        "name": "Light Level History",
        "group": "ui-group-charts",
        "order": 4,
        "width": "6",
        "height": "4",
        "label": "Light Level (%)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a"
        ],
        "className": "",
        "x": 560,
        "y": 480,
        "wires": [[]]
    },
    {
        "id": "chart-air",
        "type": "ui-chart",
        "z": "flowfuse-tab",
        "name": "Air Quality History",
        "group": "ui-group-charts",
        "order": 5,
        "width": "6",
        "height": "4",
        "label": "Air Quality Index",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a"
        ],
        "className": "",
        "x": 560,
        "y": 520,
        "wires": [[]]
    },
    {
        "id": "threshold-check",
        "type": "function",
        "z": "flowfuse-tab",
        "name": "Check Thresholds",
        "func": "const thresholds = {\n    temperature: { min: 15, max: 35 },\n    humidity: { min: 30, max: 85 },\n    light: { min: 10, max: 90 },\n    soil: { min: 20, max: 80 },\n    air_quality: { min: 0, max: 70 }\n};\n\nconst data = msg.payload;\nconst violations = [];\n\nif (data.temperature !== undefined) {\n    if (data.temperature < thresholds.temperature.min) {\n        violations.push(`🌡️ Temperature too low: ${data.temperature}°C < ${thresholds.temperature.min}°C`);\n    }\n    if (data.temperature > thresholds.temperature.max) {\n        violations.push(`🌡️ Temperature too high: ${data.temperature}°C > ${thresholds.temperature.max}°C`);\n    }\n}\n\nif (data.humidity !== undefined) {\n    if (data.humidity < thresholds.humidity.min) {\n        violations.push(`💧 Humidity too low: ${data.humidity}% < ${thresholds.humidity.min}%`);\n    }\n    if (data.humidity > thresholds.humidity.max) {\n        violations.push(`💧 Humidity too high: ${data.humidity}% > ${thresholds.humidity.max}%`);\n    }\n}\n\nif (data.light !== undefined) {\n    if (data.light < thresholds.light.min) {\n        violations.push(`💡 Light too low: ${data.light}% < ${thresholds.light.min}%`);\n    }\n    if (data.light > thresholds.light.max) {\n        violations.push(`💡 Light too high: ${data.light}% > ${thresholds.light.max}%`);\n    }\n}\n\nif (data.soil !== undefined) {\n    if (data.soil < thresholds.soil.min) {\n        violations.push(`🌱 Soil moisture too low: ${data.soil}% < ${thresholds.soil.min}%`);\n    }\n    if (data.soil > thresholds.soil.max) {\n        violations.push(`🌱 Soil moisture too high: ${data.soil}% > ${thresholds.soil.max}%`);\n    }\n}\n\nif (data.air_quality !== undefined) {\n    if (data.air_quality > thresholds.air_quality.max) {\n        violations.push(`Air quality poor: ${data.air_quality} > ${thresholds.air_quality.max}`);\n    }\n}\n\nif (violations.length > 0) {\n    msg.payload = {\n        node_id: data.node_id || 'unknown',\n        location: data.location || 'unknown',\n        violations: violations,\n        timestamp: new Date().toISOString(),\n        severity: violations.length > 2 ? 'critical' : 'warning'\n    };\n    return [msg, null];\n} else {\n    return [null, { payload: 'All parameters within normal range' }];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 600,
        "wires": [["format-alarm", "mqtt-alarm", "alarm-notification"], ["status-ok"]]
    },
    {
        "id": "alarm-display",
        "type": "ui-text",
        "z": "flowfuse-tab",
        "group": "ui-group-alarms",
        "order": 1,
        "width": "6",
        "height": "3",
        "name": "Alarm Display",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#ff5050",
        "className": "",
        "x": 530,
        "y": 580,
        "wires": []
    },
    {
        "id": "format-alarm",
        "type": "function",
        "z": "flowfuse-tab",
        "name": "Format Alarm",
        "func": "const data = msg.payload;\nconst violationList = data.violations.map(v => `<li>${v}</li>`).join('');\nmsg.payload = `<div style=\"padding: 10px; background: #fff3cd; border-left: 4px solid #ff9800;\">\n<h3 style=\"color: #ff6600;\">⚠️ ALARM: ${data.node_id} (${data.location})</h3>\n<p style=\"font-size: 12px;\">${data.timestamp}</p>\n<ul>${violationList}</ul>\n</div>`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 620,
        "wires": [["alarm-display"]]
    },
    {
        "id": "status-ok",
        "type": "ui-text",
        "z": "flowfuse-tab",
        "group": "ui-group-alarms",
        "order": 2,
        "width": "6",
        "height": "1",
        "name": "Status OK",
        "label": "System Status",
        "format": "✓ All sensors within normal range",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#5cd65c",
        "className": "",
        "x": 520,
        "y": 660,
        "wires": []
    },
    {
        "id": "mqtt-alarm",
        "type": "mqtt out",
        "z": "flowfuse-tab",
        "name": "Publish Alarm",
        "topic": "agrisense/alarms",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt-broker",
        "x": 530,
        "y": 700,
        "wires": []
    },
    {
        "id": "alarm-notification",
        "type": "ui-notification",
        "z": "flowfuse-tab",
        "ui": "ui-base",
        "position": "top right",
        "colorDefault": true,
        "color": "#ff5050",
        "displayTime": "5",
        "showCountdown": true,
        "outputs": 0,
        "allowDismiss": true,
        "dismissText": "Close",
        "raw": false,
        "className": "",
        "name": "Alarm Notification",
        "x": 550,
        "y": 740,
        "wires": []
    }
]
